<div class="pageBoxLg ">
  <label class="pageBoxLg-label ">Add Category Content
  </label>
  <form [formGroup]="adsForm" novalidate style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-md-6">
          <label class="pageBoxLg-label "> Images</label>
          <div class="form-group col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Image Position" formControlName="position" >
                <mat-error *ngIf="!adsForm.controls['position'].errors?.required">
                    Enter the valid
                  <strong>Number</strong>
                </mat-error>
              </mat-form-field>
            </div>
          <div>
            <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
          </div>
          <div>
            <input type="file" name="file" class="btn btnPink btn-block" id="file"  (change)="handleFileInput($event.target.files)">
          </div>
<div *ngIf="showImageNameError" style="color:red">
            Image Name exists
          </div>
          <div class="form-group col-md-12">
              <button mat-raised-button color="accent" type="submit" (click)="addAds()" [disabled]='showImageNameError || !adsForm.valid'>Save</button>
              <br>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="pageBoxLg-label "> Current Template</label>
          <div class="form-group col-md-12">
           
            <img *ngFor="let url of templateModel" [src]="url.templateImageName" style="width: 550px; height: 450px;" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
